/*Work sans font from Google*/
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


  *{
    font-family: 'Work Sans', sans-serif;
  }
/*navbar styles*/
.navbar {
    display: flex;
    justify-content: space-around;
    height: 130px;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
}



.left-nav{
display: flex;
gap: 20px;
height: 40px;
align-items: center;

}

.left-nav img{
    width: 86.041px;
}

.right-nav{

    display: flex;
    align-items: center;
    height: 40px;

}

.right-nav ul {
    display: flex;
    gap: 32px;
    height: 40px;

    list-style: none;
}

.bordered{
    display: flex;
    gap:23px;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}

