/*Work sans font from Google*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
}


/*shared styles*/


.btn-primary {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    border: 0;
}

.primary-text {
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.heading-text {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}



.white-text,
.footer-menu .men ul li,
.terms-conditions .terms ul li{
    color: #FFF;
}

.pink-text{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.GOAT {
    font-size: 94px;
    font-weight: 800;


}

.go-rogue {
    background: #4EC5F7;
}

.purpose{
    color: #534C64;
font-size: 1.6rem;
font-weight: 500;
line-height: 45px;
}
.unleash{
    color: #534C64;
font-size: 2rem;
font-weight: 700;
line-height: 45px;
}
.card-text{
    color: #534C64;
font-size: 1.4rem;
font-weight: 500;
margin-bottom: 140px;
}

.instant-text{
    text-align: right;
}
/*navbar styles*/
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 130px;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}



.left-nav {

    display: flex;
    gap: 20px;
    align-items: center;

}

.left-nav img {
    width: 86.041px;
}

.right-nav {

    display: flex;
    align-items: center;

}

.right-nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
.right-nav ul li{

}

.right-nav ul li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;

}

.bordered {
    display: flex;
    gap: 23px;
    align-items: center;
    padding: 16px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.navs{
    display: flex;
    align-items: center;
    gap: 35px;
}
/*banner styles*/
.banner-section {
    display: flex;
    justify-content: space-around;
    min-height: 700px;

}
.left-banner-content{
    display: flex;
    flex-direction: column;
    justify-items: start;
}

.left-banner {
    width: 50%;
    padding-left: 240px;
    background-image: url("images/Group\ 14.png");
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    
    
}

.right-banner{
    padding-right: 240px;
    width: 50%;
}
.right-banner img {
height: 100%;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-list img {
    width: 24px;
    height: 24px;
}


/*we are gamer styles*/
.we-are-gamer {
    padding: 55px 240px; 
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.left{
    width: 60%;
}
.right{
    width: 40%;
}
.left img{
    width: 100%;
    height: 100%;
}


/*online games styles*/

.online-games-section {
    padding-left: 240px;
    padding-right: 240px;
}

.title {
    text-align: center;
}

.online-games-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.cards {
    width: 342px;
}


/*play instantly styles*/
.play-instantly {
    display: flex;
    padding-left: 460px;
    padding-right: 260px;
}



.play-instantly .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 725px;
}

.right {
    padding-left: 260px;
}

.right .img-rdrr {
    position: relative;
    bottom: 200px;
    right: 100px;
}

/*games button styles*/
.game-button-section {
padding: 130px 270px;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    

}

.game-buttons-container {
    display: grid;
    column-gap: 100px;
grid-template-columns: repeat(5, 200px);


    }

    .game-button-title{

        color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
    .game-button img{
        height: 60px;
        width: 60px;
    }
    .game-button{
        display: flex;
        gap: 16px;
        padding: 28px 15px;
        border-radius: 50px;
        background: #FFF;    }

        .game-button:hover{
            border: 2px solid #FF42A5;
            background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;

        }



/*footer styles*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 636px;
background-color: #0B0223;
}

.footer-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 73px;
}

.footer-heading img{
    height: 40px;
    width: 86px;
}


.footer-menu .men ul,
.terms-conditions .terms ul{
    gap: 60px;
    display: flex;
    list-style: none;

}
.footer-menu .men ul li{
    font-weight: 600;
    font-size: 1.2rem;
    
}
.copyright,
.terms-conditions .terms ul li{
    font-size: 1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);

}


.social-icons{
    margin-top: 65px;
    margin-bottom: 74px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
    
}